body{
font-family:Tahoma, Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#222;
color:#fff;
padding:25px;
text-align:center;
}

nav a{
color:#fff;
margin:0 10px;
text-decoration:none;
font-weight:bold;
}

section{
background:#fff;
margin:20px;
padding:25px;
border-radius:8px;
}

img{
width:45%;
margin:5px;
border-radius:6px;
}

footer{
background:#222;
color:#fff;
text-align:center;
padding:15px;
}
